<%-include('layout/header') %>
      <h2>Edit The Course</h2>
   
<form action="/update/<%= editCourse._id  %>" method="post">
  <div class="mb-3">
    <label for="course name" class="form-label">Course Name</label>
    <input type="text" id="Cname" name="course_Name" class="form-control" value="<%= editCourse.courseName %>"><br>
  </div>
  <div class="mb-3">
    <label for="course description" class="form-label">Course Instructor</label>
    <input type="text" id="Iname" name="instructor_Name" class="form-control" value="<%= editCourse.instructorName %>"><br>
  </div>
  <div class="mb-3">
    <label for="course description" class="form-label">Enrolled Date</label>
    <input type="date" id="Cdate" name="role_Date" class="form-control" value="<%= editCourse.rollDate %>"><br>
  </div>
  <button type="submit" class="btn btn-bd-primary">Update Course</button>
</form> 

<!-- <form action="/update/" method="post">
  <input type="text" name="course_name" value=""><br>
  <input type="text" name="instructor" value=""><br>
  <input type="date" name="enrollmentDate" value=""><br>
  <button type="submit">Update Course</button>
</form>  -->

<%-include('layout/footer') %>