<%-include('layout/header') %>
      <h2>Learning Never end</h2>
      
  <form action="/" method="post" >
    <div class="input-group mb-3" >
      <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-book"></i></span>
      <input type="text"  name="course" class="form-control" placeholder="Please Insert the course name..." aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-chalkboard-user"></i></span>
      <input type="text" name="instructor" class="form-control" placeholder="This Course instruct by..." aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-calendar-days fa-bounce"></i></span>
      <input type="date" name="date" class="form-control" placeholder="Insert the enrolled date..." aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <input type="checkbox" value="" hidden>
    </div>
    <div class="mb-3 d-grid">
      <input type="submit" value="Submit" class="btn btn-primary btn-lg">
    </div>
  </form> 
      
      <div id="archive"></div>
      <!-- table of result -->
      <div class="container">
        <div class="row my-4">
          <div class="col-lg-12 ">
            <% if (message) { %>
              <div class="alert alert-dismissible fade show alert-<%= message.type%>" role="alert">
                <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
                <strong><%= message.message%></strong>
              </div>
             <% } %>
            <div class="table-responsive">
              <%  if  (courseData !="") { %>
                <table class="table table-striped text-center">
                  <thead?>
                      <tr class="table-dark">
                      <th scope="col"></th>
                      <th scope="col">#</th>
                      <th scope="col">Course Name</th>
                      <th scope="col">Instructor</th>
                      <th scope="col">Role Date</th>
                      <th scope="col">Edit</th>
                      <th scope="col">Delete</th>
                      <th scope="col"></th>
                      
                      
                      
                    </tr>
                  </thead>
                  <tbody>
                    <% courseData.forEach((row, index)=> { %>
                      <tr>
                        <td>
                          <form >
                            
                            <input type="checkbox" >
                          </form>
                        </td>
                        <td><%=index +1 %></td>
                        <td >
                        <div>
                        <p><%= row.courseName %></p>
                        </div>
                        </td>
                        <td><%= row.instructorName %></td>
                        <td><%= row.roleDate %></td>
                         

                          <!-- <div class="form-check float-none d-flex justify-content-center ">
                            <input class="form-check-input text-center" type="checkbox" value="" id="flexCheckDefault">
                          </div> -->
                      
                        <td>
                          <a href="/edit/<%= row._id %>" class="text-success">
                            <i class="fas fa-edit fa-lg mx-1"></i>
                          </a>
                        </td>
                        <td>
                          <a href="/delete/<%= row._id %>" class="text-denger">
                            <i class="fas fa-trash fa-lg mx-1"></i>
                          </a>
                        </td>
                        <td>

                        </td>
                        
                      </tr>
                      <% })%>
                  </tbody>
                </table>
              <% } else { %>
                  <h1 class="text-center text-secondary mt-5">No course found in database!</h1>
               <%  } %>
                </div>
                    
          </div>
                
          </div>
      </div>
    
      
      
      
<%-include('layout/footer') %>