<%- include('layout/header');%>


  <!-- Main Content -->
  <div class="flex-1 flex flex-col md:flex-row ">
    <!-- register form -->

    <form class=" md:flex-2/3 p-4 " action="/add" method="POST">
      <div class="bg-blue-200 p-4 rounded-lg">
        <div class="mb-5">
          <div class="mb-5">
            <label for="platform" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Platform</label>
            <input type="text" id="platform"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Platform Name" name="platform" required />
          </div>
          <label for="platform" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter
            Your Course Name</label>
          <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text" name="course" placeholder="Course name" required>
          <span class="focus-border">
            <i></i>
          </span>
        </div>
        <div class="mb-5">
          <label for="instructor name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Instructed
            by</label>
          <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text" name="name" placeholder="Instructor name" required>
          <span class="focus-border">
            <i></i>
          </span>
        </div>
        <div class="mb-5">
          <label for="Enrolled date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter
            Enter Your Enrolled Date </label>
          <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="date" name="date" placeholder="Date enrolled" required>
          <span class="focus-border">
            <i></i>
          </span>
        </div>
        <div class="mb-5">
          <div id="fourth" class="buttonBox">
            <button class="testingButton" type="submit">Register Course</button>
            <div class="border"></div>
            <div class="border"></div>
            <div class="border"></div>
            <div class="border"></div>
          </div>
        </div>
      </div>

    </form>


    <div class="flex-1 md:flex-1/3 p-4 md:px-3 ">
      <!--  accordion -->
      <div id="accordion-nested-parent" data-accordion="collapse">
        <% todo.forEach((todo, index)=> { %>
          <h2 id="accordion-collapse-heading-1">
            <button type="button"
              class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
              data-accordion-target="#accordion-collapse-body-1" aria-expanded="false"
              aria-controls="accordion-collapse-body-1">


              <!-- course detail -->
              <span class="flex flex-col place-items-start justify-start md:flex-row lg:flex-row w-full ">
                <div class="basis-1/4 font-bold lg:-ml-32 lg:self-start">
                  Platform: <span class="italic">YouTube</span></div>
                <div class="basis-1/4 italic font-bold">
                  <%=todo.course %>
                </div>
                <div class="basis-1/5 italic font-bold">By: <span class="italic font-bold">
                    <%= todo.name %>
                  </span>
                </div>
                <div class="basis-1/5 font-bold ">Enrolled On: <span class="italic">
                    <%= todo.date %>
                  </span></div>
                <div class="basis-1/5 ">Completed: 51%
                  <!-- edit & delete icon -->
                  <div class="flex-1 flex justify-end items-center space-x-2">
                    <!-- edit icon -->

                    <button onclick="window.location.href='/edit/<%= todo._id %>?_method=GET'" class="m-2">
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30"
                        viewBox="0 0 64 64">
                        <path fill="#ed7899"
                          d="M46.2,7.92h9.63a4,4,0,0,1,4,4V17.1a0,0,0,0,1,0,0H42.2a0,0,0,0,1,0,0V11.92a4,4,0,0,1,4-4Z"
                          transform="rotate(45 51.017 12.512)">
                        </path>
                        <path fill="#c2cde7" d="M32.5 15.51H55.129999999999995V24.869999999999997H32.5z"
                          transform="rotate(45 43.817 20.19)">
                        </path>
                        <path fill="#f9e3ae" d="M17.12 17.45H35.5V57.92999999999999H17.12z"
                          transform="rotate(45 26.318 37.691)">
                        </path>
                        <path fill="#f6d397" d="M27.38 21.7H33.74V62.17999999999999H27.38z"
                          transform="rotate(45 30.567 41.941)">
                        </path>
                        <path fill="#faefde" d="M5 57L6 46 13 47 14 50 16.92 51.5 19 59 7 59 5 57z">
                        </path>
                        <path fill="#faefde" d="M18.88 13.2H25.24V53.67999999999999H18.88z"
                          transform="rotate(45 22.068 33.441)">
                        </path>
                        <path fill="#8d6c9f"
                          d="M60.59,15.9a4,4,0,0,0-1.17-2.83L50.93,4.59a4.09,4.09,0,0,0-5.66,0L41,8.83a2,2,0,0,0-2.83,0l-5.66,5.66a2,2,0,0,0,0,2.83l.05.05L5.52,44.4a3,3,0,0,0-.87,1.88L4,54.68l-.7,4.92a1,1,0,0,0,1,1.14H4.4L9.32,60l8.45-.62a3,3,0,0,0,1.9-.87l27.08-27a2,2,0,0,0,2.77,0l5.66-5.66a2,2,0,0,0,0-2.83l4.24-4.24A4,4,0,0,0,60.59,15.9Zm-48.69,32,.58,2.88a1,1,0,0,0,.78.78l2.88.58,1.07,5.34L9.59,58,6,54.41l.61-7.6ZM19,56.35l-1-4.77L34.67,35a1,1,0,0,0-1.41-1.41L16.66,50.17,14.3,49.7l-.47-2.36L27.59,33.58a1,1,0,0,0-1.41-1.41L12.42,45.93,7.75,45,34,18.78,45.32,30.09ZM52.34,25.8h0a1,1,0,0,0-1.41,0l-1.41,1.41a1,1,0,0,0,0,1.41h0L48.1,30h0L34,15.9l1.41-1.41a1,1,0,0,0,1.41,0l1.41-1.41a1,1,0,0,0,0-1.41l1.41-1.41.71.71L53.05,23.68l.71.71ZM58,17.31l-4.24,4.24L42.44,10.24,46.69,6a2,2,0,0,1,2.83,0L58,14.49a2,2,0,0,1,0,2.83Z">
                        </path>
                        <path fill="#8d6c9f"
                          d="M40.32 15.19l-1.41 1.41A1 1 0 1 0 40.32 18l1.41-1.41a1 1 0 0 0-1.41-1.41zM43.86 18.73l-1.41 1.41a1 1 0 1 0 1.41 1.41l1.41-1.41a1 1 0 0 0-1.41-1.41zM47.39 22.26L46 23.68a1 1 0 1 0 1.41 1.41l1.41-1.41a1 1 0 0 0-1.41-1.41zM31.84 26.51L29 29.33a1 1 0 1 0 1.41 1.41l2.83-2.83a1 1 0 0 0-1.41-1.41z">
                        </path>
                      </svg>
                    </button>

                    <!-- delete icon -->

                    <button onclick="window.location.href='/delete/<%= todo._id %>?_method=DELETE'" class="m-2">
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30"
                        viewBox="0 0 100 100">
                        <path fill="#8b8bc1"
                          d="M73,30L73,30H27h-5v5l5,5l0,36.308C27,83.288,32.295,87,38.766,87h22.269C67.616,87,73,83.288,73,76.308 V39.917L78,35v-5H73z">
                        </path>
                        <path fill="#1f212b"
                          d="M61.035,88H38.766C31.13,88,26,83.301,26,76.308V40.414l-4.707-4.707C21.105,35.52,21,35.265,21,35v-5 c0-0.552,0.448-1,1-1h56c0.552,0,1,0.448,1,1v5c0,0.268-0.108,0.525-0.299,0.713L74,40.336v35.972C74,83.301,68.79,88,61.035,88 z M23,34.586l4.707,4.707C27.895,39.48,28,39.735,28,40v36.308C28,83.461,33.8,86,38.766,86h22.269 C66.093,86,72,83.461,72,76.308V39.917c0-0.268,0.108-0.525,0.299-0.713L77,34.581V31H23V34.586z">
                        </path>
                        <path fill="#6869ad"
                          d="M32.5,60.5l0-19.583c0-1.375,1.125-2.5,2.5-2.5h0c1.375,0,2.5,1.125,2.5,2.5v18.75v15.25 c0,1.375-1.125,2.5-2.5,2.5h0c-1.375,0-2.5-1.125-2.5-2.5l0-3.417">
                        </path>
                        <path fill="#1f212b"
                          d="M35,77.917c-1.654,0-3-1.346-3-3V71.5c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5v3.417 c0,1.103,0.897,2,2,2s2-0.897,2-2v-34c0-1.103-0.897-2-2-2s-2,0.897-2,2V60.5c0,0.276-0.224,0.5-0.5,0.5S32,60.776,32,60.5 V40.917c0-1.654,1.346-3,3-3s3,1.346,3,3v34C38,76.571,36.654,77.917,35,77.917z">
                        </path>
                        <path fill="#1f212b"
                          d="M32.5,66c-0.276,0-0.5-0.224-0.5-0.5v-3c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5v3 C33,65.776,32.776,66,32.5,66z">
                        </path>
                        <path fill="#6869ad"
                          d="M45,77.5L45,77.5c-1.375,0-2.5-1.125-2.5-2.5V41c0-1.375,1.125-2.5,2.5-2.5h0c1.375,0,2.5,1.125,2.5,2.5v34 C47.5,76.375,46.375,77.5,45,77.5z">
                        </path>
                        <path fill="#1f212b"
                          d="M45,78c-1.654,0-3-1.346-3-3V41c0-1.654,1.346-3,3-3s3,1.346,3,3v34C48,76.654,46.654,78,45,78z M45,39 c-1.103,0-2,0.897-2,2v34c0,1.103,0.897,2,2,2s2-0.897,2-2V41C47,39.897,46.103,39,45,39z">
                        </path>
                        <path fill="#6869ad"
                          d="M55,77.5L55,77.5c-1.375,0-2.5-1.125-2.5-2.5V41c0-1.375,1.125-2.5,2.5-2.5h0c1.375,0,2.5,1.125,2.5,2.5v34 C57.5,76.375,56.375,77.5,55,77.5z">
                        </path>
                        <path fill="#1f212b"
                          d="M55,78c-1.654,0-3-1.346-3-3V41c0-1.654,1.346-3,3-3s3,1.346,3,3v34C58,76.654,56.654,78,55,78z M55,39 c-1.103,0-2,0.897-2,2v34c0,1.103,0.897,2,2,2s2-0.897,2-2V41C57,39.897,56.103,39,55,39z">
                        </path>
                        <path fill="#6869ad"
                          d="M65,77.5L65,77.5c-1.375,0-2.5-1.125-2.5-2.5V41c0-1.375,1.125-2.5,2.5-2.5l0,0c1.375,0,2.5,1.125,2.5,2.5 v34C67.5,76.375,66.375,77.5,65,77.5z">
                        </path>
                        <path fill="#1f212b"
                          d="M65,78c-1.654,0-3-1.346-3-3V41c0-1.654,1.346-3,3-3s3,1.346,3,3v34C68,76.654,66.654,78,65,78z M65,39 c-1.103,0-2,0.897-2,2v34c0,1.103,0.897,2,2,2s2-0.897,2-2V41C67,39.897,66.103,39,65,39z">
                        </path>
                        <path fill="#a3a3cd"
                          d="M78,30v-0.237C78,22.749,75.127,19,66.727,19H33.273C24.873,19,22,22.749,22,29.763V30H78z">
                        </path>
                        <path fill="#1f212b"
                          d="M78 31H22c-.552 0-1-.448-1-1v-.237C21 21.628 24.785 18 33.272 18h33.455C75.215 18 79 21.628 79 29.763V30C79 30.552 78.552 31 78 31zM23.013 29h53.975c-.216-6.38-3.237-9-10.26-9H33.272C26.25 20 23.229 22.62 23.013 29zM78.5 34h-55c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h55c.276 0 .5.224.5.5S78.776 34 78.5 34zM71.5 83h-42c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h42c.276 0 .5.224.5.5S71.776 83 71.5 83z">
                        </path>
                        <path fill="#1f212b"
                          d="M60 20H40c-.552 0-1-.448-1-1v-2.646C39 13.401 41.309 11 44.146 11h11.708C58.691 11 61 13.401 61 16.354V19C61 19.552 60.552 20 60 20zM41 18h18v-1.646C59 14.504 57.589 13 55.854 13H44.146C42.411 13 41 14.504 41 16.354V18zM68.5 27h-46c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h46c.276 0 .5.224.5.5S68.776 27 68.5 27zM73 58.917c-.552 0-1-.448-1-1v-14c0-.552.448-1 1-1 2.757 0 5 2.243 5 5v6C78 56.673 75.757 58.917 73 58.917zM74 45.088v11.657c1.164-.413 2-1.525 2-2.829v-6C76 46.613 75.164 45.5 74 45.088zM27 58.917c-2.757 0-5-2.243-5-5v-6c0-2.757 2.243-5 5-5 .552 0 1 .448 1 1v14C28 58.469 27.552 58.917 27 58.917zM26 45.088c-1.164.413-2 1.525-2 2.829v6c0 1.304.836 2.416 2 2.829V45.088zM74.5 27h-3c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h3c.276 0 .5.224.5.5S74.776 27 74.5 27z">
                        </path>
                      </svg>
                    </button>

                    <!-- expand/retrace button -->
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 5 5 1 1 5" />
                    </svg>
                  </div>
                </div>




              </span>


            </button>
          </h2>
          <% }) %>
      </div>

    </div>


    <!-- ------------------------------------------------------------------------------------     -->
    <div class="col-md-12">
      <div class="accordion mb-2" id="accordionExample">
        <!-- Collapse one -->
        <div class="card">
          <div class="card-header " id="headingOne">
            <a class="accordion-icon" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              <!-- main course loop -->

              <h5 class="py-2">

                <% todo.forEach((todo, index)=> { %>
                  <%= todo.course %> <span class="float-right"><i class="fas fa-angle-down"></i></span>
                    <form action="/edit/<%= todo._id %>?_method=GET" method="POST" style="display: inline;">
                      <button type="submit"><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></button>
                    </form>
              </h5>
              <h6><i>by <%=todo.name %></i> Date enrolled:<%= todo.date %>
              </h6>
              <h6>Status: <i style="color: #27e1ee;">In Progress</i></h6>
            </a>
            <section class="container  ">
              <form action="/addSubItem/<%= todo._id %> " method="POST" style="display: inline-flex;" class="">
                <div class="input-group mb-2 mr-sm-2 ">
                  <div class="input-group-prepend ">
                    <div class="input-group-text ">
                      <button type="submit"><i class="fa-solid fa-circle-plus fa-lg"
                          style="color: #365cd8;"></i></button>
                    </div>
                    <input type="text" class="questionnaire " name="subItem" required placeholder="Add Sub Item">
                  </div>
                </div>
              </form>
              <form action="/delete/<%= todo._id %>?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit"><i class="fa fa-trash-o"
                    style="font-size:24px;color:rgb(255, 255, 255)"></i></button>
              </form>
            </section>
            <!-- collapse element [id="collapseOne" class="collapse"]-->
            <div id="" class="" aria-labelledby="headingOne" data-parent="#accordionExample">
              <!-- collapse element end-->
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Topic Name</th>
                      <th>Sub Topic</th>
                      <th>Completed (%)</th>
                      <th>edit</th>
                      <th>delete</th>
                      <th>Add Sub Topic</th>
                      <th>
                        <p>
                          <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1"
                            id="collapse">
                            Expand
                          </button>
                        </p>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <!-- subItem loop -->
                      <%todo.subItems.forEach((subItem, subIndex)=> { %>
                        <td>
                          <%=subIndex+1 %>
                        </td>
                        <td class="font-weight-bold">
                          <%= subItem.text %>
                        </td>

                        <td>TBA</td>
                        <td>TBA</td>
                        <td>
                          <form action="/editSubItem/<%= todo._id %>/<%= subItem._id %>?_method=GET">
                            <button type="submit">
                              <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                            </button>
                          </form>
                        </td>
                        <td>
                          <form action="/deleteSubItem/<%= todo._id %>/<%= subItem._id %>?_method=DELETE" method="POST">
                            <button type="submit">
                              <li><a href="" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                            </button>
                          </form>
                        </td>
                        <td colspan="2">
                          <form action="/addSubItem/<%= todo._id %>/addSubTopic" method="POST"
                            style="display: inline-flex;margin-bottom: 0;">
                            <input type="hidden" name="subItemIndex" value="<%= subIndex %>">
                            <input type="text" class="questionnaire" name="text" required placeholder="Add Sub Topic">
                            <button type="submit"><i class="fa-solid fa-circle-plus fa-lg"></i></button>
                          </form>
                        </td>
                        <td>

                        </td>
                    <tr>
                      <td colspan="8">
                        <!-- collapse element [class="collapse " id="collapseExample1"]-->
                        <div class=" " id="">
                          <!-- collapse end -->
                          <div class="card card-body">
                            <table class="table ">
                              <thead>
                                <th>check</th>
                                <th>#</th>
                                <th>SubTopic Title</th>
                                <th></th>
                              </thead>
                              <tbody>
                                <tr>
                                  <!-- subtopic loop -->
                                  <% subItem.subTopics.forEach((subTopic, subTopicIndex)=> { %>
                                    <td>
                                      <form
                                        action="/updateSubTopic/<%= todo._id %>/<%= subIndex %>/<%= subTopicIndex %>?_method=PUT"
                                        method="POST" style="display: inline;margin-bottom: 0;">
                                        <input type="checkbox" id="checkBox" <% if (subTopic.completed) { %>checked
                                        <% } %>
                                          onchange="this.form.submit()">
                                      </form>
                                    </td>
                                    <td class="<%= subTopic.completed ? 'completed' : '' %>">
                                      <%= subTopicIndex+1%>
                                    </td>
                                    <td class="<%= subTopic.completed ? 'completed' : '' %>">
                                      <%= subTopic.text %>
                                    </td>
                                    <td>
                                      <form
                                        action="/deleteSubTopic/<%= todo._id %>/<%= subIndex %>/<%= subTopicIndex %>?_method=DELETE"
                                        method="POST">
                                        <button type="submit">
                                          <li><a href="" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                        </button>
                                      </form>
                                    </td>
                                </tr>
                                <% }) %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </td>
                    </tr>

                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <!-- Collapse one end-->
      </div>
    </div>
  </div>
  </div>
  </div>

  <%- include('layout/footer');%>